<div class="container">
    <div class="app-title">
        <span class="app-title-text">Le Time</span>
        <span class="app-title-version">v3.14-alpha</span>
        <span class="app-title-page">Login</span>
    </div>
    <div class="login-form-inputs">
        <label for="login-form-inputs-username">
            <input type="text" id="login-form-inputs-username" placeholder="Username">
        </label>
        <label for="login-form-inputs-password">
            <input type="text" id="login-form-inputs-password" placeholder="Password">
        </label>
        <a class="registration" (click)="gotoRegistration()">Click here to register an account</a>
        <div class="login-form-buttons">
            <label for="login-form-buttons-login">
                <button id="login-form-buttons-login" (click)="login()">Login</button>
            </label>
        </div>
    </div>
</div>